{% extends 'base.html' %}
{% block title %} Post Feed | Home {% endblock %}
{% block headline1 %} BioInfo Hub Feed {% endblock %}
{% block headline2 %} Platform to share information about Bio Informatics {% endblock %}

<!-- SEO Section -->

{% block seo_section %}
<meta name="description" content="">
<meta name="keywords" content="Software Engineer,Product Manager,Project Manager,Data Scientist,Computer Scientist">
<meta name="distribution" content="web">
<meta name="web_author" content="Hashim Hashimov">
<meta name="subject" content="Community">
<meta name="title" content="DNA World - Community for bio-tech Post Feed">
<meta name="copyright" content="Copyright 2020">
<meta name="reply-to" content="">
<meta name="distribution" content="global">

<!-- Open Graph -->
<meta property="og:title" content="DNA World - Community for bio-tech Post Feed" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />

<!-- Twitter card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta property="og:url" content="" />
<meta property="og:title" content="DNA World - Community for bio-tech Post Feed" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />

{% endblock %}

{% block content %}
<!-- <section class="featured-posts">
	<div class="section-title">
		<h2><span>Featured</span></h2>
	</div>
	<div class="card-columns listfeaturedtag"> -->
		<!-- begin post -->
		<!-- <div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="post.html">
						<div class="thumbnail" style="background-image:url(assets/img/demopic/1.jpg);">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="post.html">We're living some strange times</a></h2>
						<h4 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="author.html">Steve</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
								</span>
								<span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- end post -->

<!-- 
	</div>
</section> -->
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
	<div class="section-title">
		<h2><span>Latest Posts</span></h2>
	</div>
	<div class="card-columns listrecent">

		{% for post in posts %}
		<!-- begin post -->
		<div class="card">
			<a href="{% url 'post-detail' post.slug %}">
				<img class="img-fluid post-image" src="{{ post.image.url }}" alt="{{ post.title }}">
			</a>
			<div class="card-block">
				<h4 class="card-title post-title"><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h4>
				<h4 class="card-text">{{ post.description }}</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="{% url 'author-detail' post.author.username %}" title="{{ post.author.first_name }} {{ post.author.last_name }}"><img class="author-thumb" src="{{ post.author.profile.avatar.url }}" alt="{{ post.author.first_name }} {{ post.author.last_name }}"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="{% url 'author-detail' post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></span><br/>
						<span class="post-date">{{ post.created_at }}</span><span class="dot"></span><span class="post-read"><i class="fa fa-eye"></i> {{ post.preview }}</span>
						</span>
						<span class="post-read-more">
							<a href="{% url 'post-detail' post.slug %}" title="Read Post">
								<svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- end post -->
		{% endfor %}
		</div>
		<div class="row">
        <div class="col-md-12">
          {% if posts.has_other_pages %}
            <ul class="pagination">
              {% if posts.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disable">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}

              {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if posts.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disable">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}


            </ul>
          {% endif %}
        </div>
      </div>
		
	</section>

	<style type="text/css">
		.post-image{
			width: 354px;
			height: 254px;
		}
		.post-title{
			font-size: 1rem;
			min-height: 38px;
		}
	</style>

{% endblock %}