{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block headline1 %} BioInfo Hub Feed {% endblock %}
{% block headline2 %} Login your account to post {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<h2 class="text-center">Log into your account</h2>
		<div class="col-md-6 offset-md-3">
			{% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
			<form action="" method="POST">
				<div class="form-group">
					<label>Username</label>
					<input type="text" name="username" placeholder="Your Username" class="form-control">
					{% csrf_token %}
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="password" placeholder="******" class="form-control">
				</div>
				<div class="form-group text-align">
					<button class="btn btn-info" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}