<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rich Cocktail (max 60 character)</title>
	<meta name="description" content="Rich Green Cocktails produce nice products. 50-160 characters">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="keywords" content="cocktail, rich cocktail, milk,">


	<!-- URL https://www.site.com/contact -->
	<link rel="canonical" href="https://www.richcocktail/" />

	<meta name="author" content="Rich Cocktail">


</head>
<body>
	<img src="logo.jpg" alt="Company Logo">


	<a href="home.html" title="Home">Home</a>

</body>
</html>